body {
    /* background-color: rgb(235, 225, 172); */
    background-image: url('./img/sky-being-illuminated-by-rays-260nw-2306971213.webp');
    background-size: cover;
}
#firstRow{
    margin-top: 30px;
    margin-bottom: 20px;
}
#header{
    font-size: 60px;
}
#text1{
    margin-bottom: 20px;
}
#resultBlock{
    margin-top: 30px;
}
.img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
